@font-face {
  font-family: 'IBM';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM', sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

#__next {
  padding: 0;
  margin: 0;
}

a {
  color: #2ba57c;
  text-decoration: none;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
   color: rgb(43, 148, 247);
   text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
}
h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
}
h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}